<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT trangChu ANY>
<!ATTLIST trangChu id ID #REQUIRED>
<!ELEMENT tinTuc ANY>
<!ATTLIST tinTuc id ID #REQUIRED>
<!ELEMENT chiTietTinTuc ANY>
<!ATTLIST chiTietTinTuc id ID #REQUIRED>
<!ELEMENT gioiThieu ANY>
<!ATTLIST gioiThieu id ID #REQUIRED>
<!ELEMENT daoTao ANY>
<!ATTLIST daoTao id ID #REQUIRED>
<!ELEMENT tuyenSinh ANY>
<!ATTLIST tuyenSinh id ID #REQUIRED>
<!ELEMENT misc ANY>
<!ATTLIST misc id ID #REQUIRED>
<!ELEMENT tab ANY>
<!ATTLIST tab id ID #REQUIRED>
<!ELEMENT dTGioiThieuChung ANY>
<!ATTLIST dTGioiThieuChung id ID #REQUIRED>
<!ELEMENT dTDaoTaoChuyenCapLienThong ANY>
<!ATTLIST dTDaoTaoChuyenCapLienThong id ID #REQUIRED>
<!ELEMENT dTCamKetChuanDauRa ANY>
<!ATTLIST dTCamKetChuanDauRa id ID #REQUIRED>
<!ELEMENT dTDaoTaoDaiHoc ANY>
<!ATTLIST dTDaoTaoDaiHoc id ID #REQUIRED>
<!ELEMENT dTDaoTaoSauDaiHoc ANY>
<!ATTLIST dTDaoTaoSauDaiHoc id ID #REQUIRED>
<!ELEMENT dTTraCuuDiemThi ANY>
<!ATTLIST dTTraCuuDiemThi id ID #REQUIRED>
<!ELEMENT dTBoTucBoiDuong ANY>
<!ATTLIST dTBoTucBoiDuong id ID #REQUIRED>
<!ELEMENT nghienCuuKhoaHoc ANY>
<!ATTLIST nghienCuuKhoaHoc id ID #REQUIRED>
<!ELEMENT coSoKyThuat ANY>
<!ATTLIST coSoKyThuat id ID #REQUIRED>
<!ELEMENT hopTacQuocTe ANY>
<!ATTLIST hopTacQuocTe id ID #REQUIRED>
<!ELEMENT thuVien ANY>
<!ATTLIST thuVien id ID #REQUIRED>
<!ELEMENT damBaoChatLuong ANY>
<!ATTLIST damBaoChatLuong id ID #REQUIRED>
<!ELEMENT hocSinhSinhVien ANY>
<!ATTLIST hocSinhSinhVien id ID #REQUIRED>
<!ELEMENT lienHe ANY>
<!ATTLIST lienHe id ID #REQUIRED>
<!ELEMENT tinTucItem ANY>
<!ATTLIST tinTucItem id ID #REQUIRED>
<!ELEMENT slideItem ANY>
<!ATTLIST slideItem id ID #REQUIRED>
<!ELEMENT caiDat ANY>
<!ATTLIST caiDat id ID #REQUIRED>
<!ELEMENT cSKTNangLucCacCoSo ANY>
<!ATTLIST cSKTNangLucCacCoSo id ID #REQUIRED>
<!ELEMENT cSKTKhaiThacCoSoKyThuat ANY>
<!ATTLIST cSKTKhaiThacCoSoKyThuat id ID #REQUIRED>
<!ELEMENT dBCLHeThongDBCL ANY>
<!ATTLIST dBCLHeThongDBCL id ID #REQUIRED>
<!ELEMENT dBCLKiemDinhChatLuong ANY>
<!ATTLIST dBCLKiemDinhChatLuong id ID #REQUIRED>
<!ELEMENT dBCLVanBanPhapQuy ANY>
<!ATTLIST dBCLVanBanPhapQuy id ID #REQUIRED>
<!ELEMENT dBCLYKienPhanHoi ANY>
<!ATTLIST dBCLYKienPhanHoi id ID #REQUIRED>
<!ELEMENT hSSVCacVanBanBieuMau ANY>
<!ATTLIST hSSVCacVanBanBieuMau id ID #REQUIRED>
<!ELEMENT hSSVGioiThieuChung ANY>
<!ATTLIST hSSVGioiThieuChung id ID #REQUIRED>
<!ELEMENT hSSVHoatDongDoanThanhNien ANY>
<!ATTLIST hSSVHoatDongDoanThanhNien id ID #REQUIRED>
<!ELEMENT hSSVHoatDongNCKH ANY>
<!ATTLIST hSSVHoatDongNCKH id ID #REQUIRED>
<!ELEMENT hSSVHocBong ANY>
<!ATTLIST hSSVHocBong id ID #REQUIRED>
<!ELEMENT hSSVKyTucXa ANY>
<!ATTLIST hSSVKyTucXa id ID #REQUIRED>
<!ELEMENT nCKHCacChuongTrinhDuAnDeTai ANY>
<!ATTLIST nCKHCacChuongTrinhDuAnDeTai id ID #REQUIRED>
<!ELEMENT nCKHCacHoiDongKhoaHoc ANY>
<!ATTLIST nCKHCacHoiDongKhoaHoc id ID #REQUIRED>
<!ELEMENT nCKHCacNhomNghienCuu ANY>
<!ATTLIST nCKHCacNhomNghienCuu id ID #REQUIRED>
<!ELEMENT nCKHCacSanPhamKhoaHoc ANY>
<!ATTLIST nCKHCacSanPhamKhoaHoc id ID #REQUIRED>
<!ELEMENT nCKHGioiThieuChung ANY>
<!ATTLIST nCKHGioiThieuChung id ID #REQUIRED>
<!ELEMENT nCKHMotSoThanhTuu ANY>
<!ATTLIST nCKHMotSoThanhTuu id ID #REQUIRED>
<!ELEMENT hTQTCacChuongTrinhHopTac ANY>
<!ATTLIST hTQTCacChuongTrinhHopTac id ID #REQUIRED>
<!ELEMENT hTQTCacHoatDongHopTac ANY>
<!ATTLIST hTQTCacHoatDongHopTac id ID #REQUIRED>
<!ELEMENT hTQTGioiThieuChung ANY>
<!ATTLIST hTQTGioiThieuChung id ID #REQUIRED>
<!ELEMENT hTQTLienKet ANY>
<!ATTLIST hTQTLienKet id ID #REQUIRED>
<!ELEMENT hTQTTieuChuanDoiTuongDTNN ANY>
<!ATTLIST hTQTTieuChuanDoiTuongDTNN id ID #REQUIRED>
<!ELEMENT tSLienThongDaiHoc ANY>
<!ATTLIST tSLienThongDaiHoc id ID #REQUIRED>
<!ELEMENT tSMotSoCauHoiThuongGap ANY>
<!ATTLIST tSMotSoCauHoiThuongGap id ID #REQUIRED>
<!ELEMENT tSThongTinChung ANY>
<!ATTLIST tSThongTinChung id ID #REQUIRED>
<!ELEMENT tSTuyenSinhDaiHoc ANY>
<!ATTLIST tSTuyenSinhDaiHoc id ID #REQUIRED>
<!ELEMENT tSTuyenSinhSauDaiHoc ANY>
<!ATTLIST tSTuyenSinhSauDaiHoc id ID #REQUIRED>
<!ELEMENT gioiThieuChung ANY>
<!ATTLIST gioiThieuChung id ID #REQUIRED>
<!ELEMENT coCauToChuc ANY>
<!ATTLIST coCauToChuc id ID #REQUIRED>
<!ELEMENT hinhAnhTieuBieu ANY>
<!ATTLIST hinhAnhTieuBieu id ID #REQUIRED>
<!ELEMENT khoiCoQuan ANY>
<!ATTLIST khoiCoQuan id ID #REQUIRED>
<!ELEMENT khoiDonViQuanLyHocVien ANY>
<!ATTLIST khoiDonViQuanLyHocVien id ID #REQUIRED>
<!ELEMENT banGiamDoc ANY>
<!ATTLIST banGiamDoc id ID #REQUIRED>
<!ELEMENT banGiamDocItem ANY>
<!ATTLIST banGiamDocItem id ID #REQUIRED>
<!ELEMENT khoiCoQuanItem ANY>
<!ATTLIST khoiCoQuanItem id ID #REQUIRED>
<!ELEMENT khoiDonViQuanLyHocVienItem ANY>
<!ATTLIST khoiDonViQuanLyHocVienItem id ID #REQUIRED>
<!ELEMENT lienKetItem ANY>
<!ATTLIST lienKetItem id ID #REQUIRED>
]>
<root id="-1">
  <trangChu id="1059" key="98ddf55b-0e71-4441-bb44-36f2c5b3076b" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-03-26T11:30:41" updateDate="2018-04-20T07:07:19" nodeName="Trang Chủ" urlName="trang-chu" path="-1,1059" isDoc="" nodeType="1058" creatorName="DoDat" writerName="DoDat" writerID="0" template="1055" nodeTypeAlias="trangChu" isPublished="true">
    <noiDung><![CDATA[<p><span>Địa chỉ : 236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội </span></p>
<p><span>Điện thoại: 069.515200 </span></p>
<p><span>Email: info@mta.edu.vn</span></p>]]></noiDung>
    <lienKet><![CDATA[[
  {
    "caption": "Khoa Công Nghệ Thông Tin",
    "link": "fit.mta.edu.vn",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Khoa Công Nghệ Thông Tin"
  },
  {
    "caption": "Phòng Sau Đại Học",
    "link": "http://sdh.mta.edu.vn/",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Phòng Sau Đại Học"
  }
]]]></lienKet>
    <tieuDe><![CDATA[HỌC VIỆN KỸ THUẬT QUÂN SỰ]]></tieuDe>
    <slide><![CDATA[[{"key":"c13dbaa7-4a27-4764-96ed-2ee26a36be36","name":"Item 1","ncContentTypeAlias":"slideItem","hinhAnh":"umb://media/76f566ab5d8f449c96e56db5415fd1d0","tieuDe":"x","link":"/"},{"key":"f361bfd2-750c-43b8-99d3-22b8b44c569e","name":"Item 2","ncContentTypeAlias":"slideItem","hinhAnh":"umb://media/78a506ea4d6949d6b84477dccb35ad22","tieuDe":"xx","link":"/"},{"key":"b38a5774-5e54-4e86-b86f-35d6a04d0040","name":"Item 3","ncContentTypeAlias":"slideItem","hinhAnh":"umb://media/a862ee9b7f154867b17a9a48e7cdb93a","tieuDe":"xx","link":"/"}]]]></slide>
    <lienKetDaoTao><![CDATA[[{"key":"667d70f4-7d64-4abd-a737-fcd5478c2f36","name":"Item 1","ncContentTypeAlias":"lienKetItem","hinhAnh":"umb://media/59a05b263c70449f8fc21a0057912248","link":"http://www.madi.ru/"}]]]></lienKetDaoTao>
    <gioiThieu id="1075" key="cce7a73c-7747-4c3a-8c32-87ebe1819b79" parentID="1059" level="2" creatorID="0" sortOrder="7" createDate="2018-03-27T14:35:35" updateDate="2018-04-20T02:09:32" nodeName="Giới Thiệu" urlName="gioi-thieu" path="-1,1059,1075" isDoc="" nodeType="1074" creatorName="DoDat" writerName="DoDat" writerID="0" template="1135" nodeTypeAlias="gioiThieu" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <gioiThieuChung id="1386" key="44135204-92db-4c35-a4ed-15ca08a26034" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2018-04-20T01:57:28" updateDate="2018-04-20T01:57:28" nodeName="Giới Thiệu Chung" urlName="gioi-thieu-chung" path="-1,1059,1075,1386" isDoc="" nodeType="1376" creatorName="DoDat" writerName="DoDat" writerID="0" template="1095" nodeTypeAlias="gioiThieuChung" isPublished="true">
        <tab id="1389" key="c4c7e7e5-c3c4-4cf7-a48a-c517f5d73c4a" parentID="1386" level="4" creatorID="0" sortOrder="0" createDate="2018-04-20T02:00:37" updateDate="2018-04-20T02:00:37" nodeName="Tiềm Lực" urlName="tiem-luc" path="-1,1059,1075,1386,1389" isDoc="" nodeType="1081" creatorName="DoDat" writerName="DoDat" writerID="0" template="0" nodeTypeAlias="tab" isPublished="true">
          <noiDung><![CDATA[<p>sada</p>]]></noiDung>
        </tab>
        <tab id="1390" key="f0267488-8f80-40c8-8549-680d83a06237" parentID="1386" level="4" creatorID="0" sortOrder="1" createDate="2018-04-20T02:00:45" updateDate="2018-04-20T02:00:45" nodeName="xxx" urlName="xxx" path="-1,1059,1075,1386,1390" isDoc="" nodeType="1081" creatorName="DoDat" writerName="DoDat" writerID="0" template="0" nodeTypeAlias="tab" isPublished="true">
          <noiDung><![CDATA[<p>ád</p>]]></noiDung>
        </tab>
      </gioiThieuChung>
      <coCauToChuc id="1387" key="6ba809ee-c6e8-4753-a163-80c34aaea37a" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2018-04-20T01:57:46" updateDate="2018-04-20T01:57:46" nodeName="Cơ Cấu Tổ Chức" urlName="co-cau-to-chuc" path="-1,1059,1075,1387" isDoc="" nodeType="1377" creatorName="DoDat" writerName="DoDat" writerID="0" template="1123" nodeTypeAlias="coCauToChuc" isPublished="true" />
      <hinhAnhTieuBieu id="1388" key="a5e4f57b-e495-4512-889d-a87376d117e0" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2018-04-20T01:58:05" updateDate="2018-04-20T01:58:05" nodeName="Hình Ảnh Tiêu Biểu" urlName="hinh-anh-tieu-bieu" path="-1,1059,1075,1388" isDoc="" nodeType="1378" creatorName="DoDat" writerName="DoDat" writerID="0" template="1133" nodeTypeAlias="hinhAnhTieuBieu" isPublished="true" />
    </gioiThieu>
    <tuyenSinh id="1079" key="890b02ee-7b7a-4d4e-bcc4-8ab69f5dad72" parentID="1059" level="2" creatorID="0" sortOrder="8" createDate="2018-03-27T14:48:03" updateDate="2018-04-06T07:21:26" nodeName="Tuyển Sinh" urlName="tuyen-sinh" path="-1,1059,1079" isDoc="" nodeType="1078" creatorName="DoDat" writerName="DoDat" writerID="0" template="1069" nodeTypeAlias="tuyenSinh" isPublished="true">
      <tSLienThongDaiHoc id="1347" key="d2c6b650-f500-426d-ad26-9c0aef797869" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2018-04-20T01:35:28" updateDate="2018-04-20T01:35:38" nodeName="Tuyển Sinh Đại Học" urlName="tuyen-sinh-dai-hoc" path="-1,1059,1079,1347" isDoc="" nodeType="1342" creatorName="DoDat" writerName="DoDat" writerID="0" template="1160" nodeTypeAlias="tSLienThongDaiHoc" isPublished="true" />
      <tSMotSoCauHoiThuongGap id="1348" key="4c44aa8e-801b-467d-9c4d-e45dbd5c1d70" parentID="1079" level="3" creatorID="0" sortOrder="1" createDate="2018-04-20T01:36:00" updateDate="2018-04-20T01:36:00" nodeName="Một Số Câu Hỏi Thường Gặp" urlName="mot-so-cau-hoi-thuong-gap" path="-1,1059,1079,1348" isDoc="" nodeType="1343" creatorName="DoDat" writerName="DoDat" writerID="0" template="1163" nodeTypeAlias="tSMotSoCauHoiThuongGap" isPublished="true" />
      <tSThongTinChung id="1349" key="49cbee49-f3ff-492e-989d-1df213ced9ea" parentID="1079" level="3" creatorID="0" sortOrder="2" createDate="2018-04-20T01:36:20" updateDate="2018-04-20T01:36:20" nodeName="Thông Tin Chung" urlName="thong-tin-chung" path="-1,1059,1079,1349" isDoc="" nodeType="1344" creatorName="DoDat" writerName="DoDat" writerID="0" template="1158" nodeTypeAlias="tSThongTinChung" isPublished="true" />
      <tSTuyenSinhSauDaiHoc id="1350" key="165553f1-c502-47d8-aa2d-834f4c3cfd18" parentID="1079" level="3" creatorID="0" sortOrder="3" createDate="2018-04-20T01:36:35" updateDate="2018-04-20T01:36:35" nodeName="Tuyển Sinh Sau Đại Học" urlName="tuyen-sinh-sau-dai-hoc" path="-1,1059,1079,1350" isDoc="" nodeType="1346" creatorName="DoDat" writerName="DoDat" writerID="0" template="1162" nodeTypeAlias="tSTuyenSinhSauDaiHoc" isPublished="true" />
      <tSLienThongDaiHoc id="1351" key="504f815f-bfa9-47cd-a669-4062570a70f7" parentID="1079" level="3" creatorID="0" sortOrder="4" createDate="2018-04-20T01:36:55" updateDate="2018-04-20T01:36:55" nodeName="Liên Thông Đại Học" urlName="lien-thong-dai-hoc" path="-1,1059,1079,1351" isDoc="" nodeType="1342" creatorName="DoDat" writerName="DoDat" writerID="0" template="1160" nodeTypeAlias="tSLienThongDaiHoc" isPublished="true" />
    </tuyenSinh>
    <daoTao id="1077" key="ceb76210-5d12-4d2a-a60a-13489c9b0c9f" parentID="1059" level="2" creatorID="0" sortOrder="9" createDate="2018-03-27T14:45:41" updateDate="2018-04-06T07:48:50" nodeName="Đào Tạo" urlName="dao-tao" path="-1,1059,1077" isDoc="" nodeType="1076" creatorName="DoDat" writerName="DoDat" writerID="0" template="1068" nodeTypeAlias="daoTao" isPublished="true">
      <dTGioiThieuChung id="1151" key="9a54b884-c958-4673-a6a2-7b2064f64193" parentID="1077" level="3" creatorID="0" sortOrder="0" createDate="2018-04-05T21:36:37" updateDate="2018-04-06T07:48:50" nodeName="Giới Thiệu Chung" urlName="gioi-thieu-chung" path="-1,1059,1077,1151" isDoc="" nodeType="1144" creatorName="DoDat" writerName="DoDat" writerID="0" template="1136" nodeTypeAlias="dTGioiThieuChung" isPublished="true">
        <noiDung><![CDATA[<p><span><strong>ĐÀO TẠO ĐẠI HỌC</strong></span></p>
<p><span>     </span></p>
<p><span>- Thời gian đào tạo là 5 năm. Trong 5 năm học, mỗi năm được chia thành 2 học kỳ (học kỳ 1 bắt đầu 4/9 và kết thúc 15/1, học kỳ 2 bắt đầu từ 16/1 và kết thúc 30/6).</span></p>
<p><span>- Tuyển sinh: Học sinh tốt nghiệp phổ thông phải qua kỳ thi tuyển sinh đại học quốc gia hàng năm.</span></p>
<p><span>- Chương trình đào tạo được chia thành 4 khối kiến thức</span></p>
<p><span>+ Các môn học khối kiến thức cơ bản</span></p>
<p><span>+ Các môn học khối cơ sở ngành và chuyên ngành</span></p>
<p><span>+ Các môn học khối kiến thức chuyên ngành theo hướng đào tạo</span></p>
<p><span>+ Khối kiến thức về Khoa học xã hội-Nhân văn và Giáo dục quốc phòng</span></p>
<p><span><strong> </strong></span></p>
<p><span><strong>                                CÁC NGÀNH ĐÀO TẠO BẬC ĐẠI HỌC</strong></span></p>
<p><span>      </span><strong>  </strong><span> </span></p>
<table border="1" cellspacing="0" cellpadding="0" width="94%">
<thead>
<tr>
<td>
<p><strong>TT</strong></p>
</td>
<td>
<p><strong><span>Ngành, chuyên ngành</span></strong></p>
</td>
<td>
<p><strong>Mã ngành</strong></p>
</td>
</tr>
</thead>
<tbody>
<tr>
<td>
<p><strong>I</strong></p>
</td>
<td>
<p><strong>Kỹ thuật xây dựng</strong></p>
</td>
<td>
<p><strong>52580208</strong></p>
</td>
</tr>
<tr>
<td>
<p>1</p>
</td>
<td>
<p>CN Xây dựng dân dụng và công nghiệp</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p><strong>II</strong></p>
</td>
<td>
<p><strong>Kỹ thuật xây dựng công trình giao thông</strong></p>
</td>
<td>
<p><strong>52580205</strong></p>
</td>
</tr>
<tr>
<td>
<p>2</p>
</td>
<td>
<p>CN Cầu đường</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p><strong>III</strong></p>
</td>
<td>
<p><strong>Công nghệ kỹ thuật hóa học</strong></p>
</td>
<td>
<p><strong>52510401</strong></p>
</td>
</tr>
<tr>
<td>
<p>3</p>
</td>
<td>
<p>CN Công nghệ hóa học</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p><strong>IV</strong></p>
</td>
<td>
<p><strong>Công nghệ kỹ thuật môi trường</strong></p>
</td>
<td>
<p><strong>52510406</strong></p>
</td>
</tr>
<tr>
<td>
<p>4</p>
</td>
<td>
<p>CN Kỹ thuật môi trường</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p><strong>V</strong></p>
</td>
<td>
<p><strong>Công nghệ thông tin</strong></p>
</td>
<td>
<p><strong>52480201</strong></p>
</td>
</tr>
<tr>
<td>
<p>5</p>
</td>
<td>
<p>CN Công nghệ dữ liệu</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p>6</p>
</td>
<td>
<p>CN Phát triển ứng dụng đa phương tiện</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p>7</p>
</td>
<td>
<p>CN An toàn thông tin</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p><strong>VI</strong></p>
</td>
<td>
<p><strong>Hệ thống thông tin</strong></p>
</td>
<td>
<p><strong>52480104</strong></p>
</td>
</tr>
<tr>
<td>
<p>8</p>
</td>
<td>
<p>CN Hệ thống thông tin quản lý</p>
</td>
<td>
<p> </p>
</td>
</tr>
<tr>
<td>
<p><strong>VII</strong></p>
</td>
<td>
<p><strong>Kỹ thuật phần mềm</strong></p>
</td>
<td>
<p><strong>52480103</strong></p>
</td>
</tr>
<tr>
<td>
<p>9</p>
</td>
<td>
<p>CN Công nghệ phần mềm</p>
</td>
<td>
<p> </p>
</td>
</tr>
<tr>
<td>
<p><strong>VIII</strong></p>
</td>
<td>
<p><strong>Khoa học máy tính</strong></p>
</td>
<td>
<p><strong>52480101</strong></p>
</td>
</tr>
<tr>
<td>
<p>10</p>
</td>
<td>
<p>CN Khoa học tri thức</p>
</td>
<td>
<p> </p>
</td>
</tr>
<tr>
<td>
<p>11</p>
</td>
<td>
<p>CN Công nghệ game và mô phỏng</p>
</td>
<td>
<p> </p>
</td>
</tr>
<tr>
<td>
<p><strong>IX</strong></p>
</td>
<td>
<p><strong>Truyền thông và mạng máy tính</strong></p>
</td>
<td>
<p><strong>52480102</strong></p>
</td>
</tr>
<tr>
<td>
<p>12</p>
</td>
<td>
<p>CN Công nghệ mạng</p>
</td>
<td>
<p> </p>
</td>
</tr>
<tr>
<td>
<p><strong>X</strong></p>
</td>
<td>
<p><strong>Kỹ thuật cơ khí</strong></p>
</td>
<td>
<p><strong>52520103</strong></p>
</td>
</tr>
<tr>
<td>
<p>13</p>
</td>
<td>
<p>CN Công nghệ chế tạo máy</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p>14</p>
</td>
<td>
<p>CN Ô tô</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p><strong>XI</strong></p>
</td>
<td>
<p><strong>Kỹ thuật cơ điện tử</strong></p>
</td>
<td>
<p><strong>52520114</strong></p>
</td>
</tr>
<tr>
<td>
<p>15</p>
</td>
<td>
<p>CN Cơ điện tử</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p><strong>XII</strong></p>
</td>
<td>
<p><strong>Kỹ thuật điện, điện tử</strong></p>
</td>
<td>
<p><strong>52520201</strong></p>
</td>
</tr>
<tr>
<td>
<p>16</p>
</td>
<td>
<p>CN Điện tử viễn thông</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p><strong>XIII</strong></p>
</td>
<td>
<p><strong>Kỹ thuật điều khiển và tự động hóa</strong></p>
</td>
<td>
<p><strong>52520216</strong></p>
</td>
</tr>
<tr>
<td>
<p>17</p>
</td>
<td>
<p>CN Điện tử y sinh</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p>18</p>
</td>
<td>
<p>CN Điều khiển công nghiệp</p>
</td>
<td> </td>
</tr>
<tr>
<td>
<p>19</p>
</td>
<td>
<p>CN Tự động hóa</p>
</td>
<td> </td>
</tr>
</tbody>
</table>
<p> </p>]]></noiDung>
      </dTGioiThieuChung>
      <dTCamKetChuanDauRa id="1152" key="20ce59cf-c8d2-43d9-b9d6-4055154334dc" parentID="1077" level="3" creatorID="0" sortOrder="1" createDate="2018-04-05T21:37:08" updateDate="2018-04-06T07:48:50" nodeName="Cam Kết Chuẩn Đầu Ra" urlName="cam-ket-chuan-dau-ra" path="-1,1059,1077,1152" isDoc="" nodeType="1146" creatorName="DoDat" writerName="DoDat" writerID="0" template="1138" nodeTypeAlias="dTCamKetChuanDauRa" isPublished="true" />
      <dTDaoTaoDaiHoc id="1153" key="9805ea9e-1a9f-4bad-83f4-b0a7ad01b078" parentID="1077" level="3" creatorID="0" sortOrder="2" createDate="2018-04-05T21:37:58" updateDate="2018-04-06T07:48:50" nodeName="Đào Tạo Đại Học" urlName="dao-tao-dai-hoc" path="-1,1059,1077,1153" isDoc="" nodeType="1147" creatorName="DoDat" writerName="DoDat" writerID="0" template="1139" nodeTypeAlias="dTDaoTaoDaiHoc" isPublished="true" />
      <dTDaoTaoSauDaiHoc id="1154" key="859c93f8-cecf-4bf1-879f-1ccb3a23c11c" parentID="1077" level="3" creatorID="0" sortOrder="3" createDate="2018-04-05T21:38:19" updateDate="2018-04-06T07:48:50" nodeName="Đào Tạo Sau Đại Học" urlName="dao-tao-sau-dai-hoc" path="-1,1059,1077,1154" isDoc="" nodeType="1148" creatorName="DoDat" writerName="DoDat" writerID="0" template="1140" nodeTypeAlias="dTDaoTaoSauDaiHoc" isPublished="true" />
      <dTDaoTaoChuyenCapLienThong id="1155" key="b86140c2-6894-4533-abc2-131af8d4fda2" parentID="1077" level="3" creatorID="0" sortOrder="4" createDate="2018-04-05T21:38:54" updateDate="2018-04-06T07:48:50" nodeName="Đào Tạo Chuyển Cấp Liên Thông" urlName="dao-tao-chuyen-cap-lien-thong" path="-1,1059,1077,1155" isDoc="" nodeType="1145" creatorName="DoDat" writerName="DoDat" writerID="0" template="1141" nodeTypeAlias="dTDaoTaoChuyenCapLienThong" isPublished="true" />
      <dTBoTucBoiDuong id="1156" key="f5b92d6c-07fb-4d88-bde3-b41bb267b3dc" parentID="1077" level="3" creatorID="0" sortOrder="5" createDate="2018-04-05T21:39:50" updateDate="2018-04-06T07:48:50" nodeName="Bổ Túc Bồi Dưỡng" urlName="bo-tuc-boi-duong" path="-1,1059,1077,1156" isDoc="" nodeType="1150" creatorName="DoDat" writerName="DoDat" writerID="0" template="1142" nodeTypeAlias="dTBoTucBoiDuong" isPublished="true" />
      <dTTraCuuDiemThi id="1157" key="60b1fbed-8509-49c8-a982-8c8dd3adcde2" parentID="1077" level="3" creatorID="0" sortOrder="6" createDate="2018-04-05T21:40:10" updateDate="2018-04-06T07:48:50" nodeName="Tra Cứu Điểm Thi" urlName="tra-cuu-diem-thi" path="-1,1059,1077,1157" isDoc="" nodeType="1149" creatorName="DoDat" writerName="DoDat" writerID="0" template="1143" nodeTypeAlias="dTTraCuuDiemThi" isPublished="true" />
    </daoTao>
    <nghienCuuKhoaHoc id="1232" key="e2f46956-ab75-400a-80e1-3bcdec2d738c" parentID="1059" level="2" creatorID="0" sortOrder="10" createDate="2018-04-06T09:38:59" updateDate="2018-04-06T09:38:59" nodeName="Nghiên Cứu Khoa Học" urlName="nghien-cuu-khoa-hoc" path="-1,1059,1232" isDoc="" nodeType="1204" creatorName="DoDat" writerName="DoDat" writerID="0" template="1070" nodeTypeAlias="nghienCuuKhoaHoc" isPublished="true">
      <hSSVHoatDongNCKH id="1352" key="4efbce03-524a-411e-a99b-cddd00a63606" parentID="1232" level="3" creatorID="0" sortOrder="0" createDate="2018-04-20T01:37:41" updateDate="2018-04-20T01:37:41" nodeName="Hoạt Động NCKH" urlName="hoat-dong-nckh" path="-1,1059,1232,1352" isDoc="" nodeType="1328" creatorName="DoDat" writerName="DoDat" writerID="0" template="1199" nodeTypeAlias="hSSVHoatDongNCKH" isPublished="true" />
      <nCKHCacChuongTrinhDuAnDeTai id="1353" key="9dda738c-63dd-47e5-96f8-247dc1797baa" parentID="1232" level="3" creatorID="0" sortOrder="1" createDate="2018-04-20T01:37:54" updateDate="2018-04-20T01:37:54" nodeName="Các Chương Trình Dự Án Đề Tài" urlName="cac-chuong-trinh-du-an-de-tai" path="-1,1059,1232,1353" isDoc="" nodeType="1331" creatorName="DoDat" writerName="DoDat" writerID="0" template="1177" nodeTypeAlias="nCKHCacChuongTrinhDuAnDeTai" isPublished="true" />
      <nCKHCacHoiDongKhoaHoc id="1354" key="e26f3cd5-06fb-442a-ac2f-18a83978aa6d" parentID="1232" level="3" creatorID="0" sortOrder="2" createDate="2018-04-20T01:38:09" updateDate="2018-04-20T01:38:09" nodeName="Các Hội Đồng Khoa Học" urlName="cac-hoi-dong-khoa-hoc" path="-1,1059,1232,1354" isDoc="" nodeType="1332" creatorName="DoDat" writerName="DoDat" writerID="0" template="1176" nodeTypeAlias="nCKHCacHoiDongKhoaHoc" isPublished="true" />
      <nCKHCacNhomNghienCuu id="1355" key="b396ffc4-7af9-48d7-8cd8-ce8fedaab090" parentID="1232" level="3" creatorID="0" sortOrder="3" createDate="2018-04-20T01:38:36" updateDate="2018-04-20T01:38:36" nodeName="Các Nhóm Nghiên Cứu" urlName="cac-nhom-nghien-cuu" path="-1,1059,1232,1355" isDoc="" nodeType="1333" creatorName="DoDat" writerName="DoDat" writerID="0" template="1178" nodeTypeAlias="nCKHCacNhomNghienCuu" isPublished="true" />
      <nCKHCacSanPhamKhoaHoc id="1356" key="9521edcf-1612-4166-b18e-ed8a62908e8f" parentID="1232" level="3" creatorID="0" sortOrder="4" createDate="2018-04-20T01:38:54" updateDate="2018-04-20T01:38:54" nodeName="Các Sản Phẩm Khoa Học" urlName="cac-san-pham-khoa-hoc" path="-1,1059,1232,1356" isDoc="" nodeType="1334" creatorName="DoDat" writerName="DoDat" writerID="0" template="1179" nodeTypeAlias="nCKHCacSanPhamKhoaHoc" isPublished="true" />
      <nCKHGioiThieuChung id="1357" key="e40d871b-264a-41d2-b767-25a241f13279" parentID="1232" level="3" creatorID="0" sortOrder="5" createDate="2018-04-20T01:39:09" updateDate="2018-04-20T01:39:09" nodeName="Giới Thiệu Chung" urlName="gioi-thieu-chung" path="-1,1059,1232,1357" isDoc="" nodeType="1335" creatorName="DoDat" writerName="DoDat" writerID="0" template="1175" nodeTypeAlias="nCKHGioiThieuChung" isPublished="true" />
      <nCKHMotSoThanhTuu id="1358" key="2a1c35f2-1002-400d-90f4-78be82b672ea" parentID="1232" level="3" creatorID="0" sortOrder="6" createDate="2018-04-20T01:39:25" updateDate="2018-04-20T01:39:25" nodeName="Một Số Thành Tựu" urlName="mot-so-thanh-tuu" path="-1,1059,1232,1358" isDoc="" nodeType="1336" creatorName="DoDat" writerName="DoDat" writerID="0" template="1180" nodeTypeAlias="nCKHMotSoThanhTuu" isPublished="true" />
    </nghienCuuKhoaHoc>
    <coSoKyThuat id="1241" key="caad57e9-f0d5-42ef-9ae2-7caebb3ffc8c" parentID="1059" level="2" creatorID="0" sortOrder="11" createDate="2018-04-06T09:43:13" updateDate="2018-04-06T09:43:13" nodeName="Cơ Sở Kỹ Thuật" urlName="co-so-ky-thuat" path="-1,1059,1241" isDoc="" nodeType="1210" creatorName="DoDat" writerName="DoDat" writerID="0" template="1181" nodeTypeAlias="coSoKyThuat" isPublished="true">
      <cSKTKhaiThacCoSoKyThuat id="1359" key="f069c9fb-4559-4fdb-8556-4c7c47d03aa1" parentID="1241" level="3" creatorID="0" sortOrder="0" createDate="2018-04-20T01:39:56" updateDate="2018-04-20T01:39:56" nodeName="Khai Thác Cơ Sở Kỹ Thuật" urlName="khai-thac-co-so-ky-thuat" path="-1,1059,1241,1359" isDoc="" nodeType="1320" creatorName="DoDat" writerName="DoDat" writerID="0" template="1183" nodeTypeAlias="cSKTKhaiThacCoSoKyThuat" isPublished="true" />
      <cSKTNangLucCacCoSo id="1360" key="5f818eb7-1a67-46a6-b53d-c8ea1cbb5c41" parentID="1241" level="3" creatorID="0" sortOrder="1" createDate="2018-04-20T01:40:06" updateDate="2018-04-20T01:40:06" nodeName="Năng Lực Các Cơ Sở" urlName="nang-luc-cac-co-so" path="-1,1059,1241,1360" isDoc="" nodeType="1319" creatorName="DoDat" writerName="DoDat" writerID="0" template="1182" nodeTypeAlias="cSKTNangLucCacCoSo" isPublished="true" />
    </coSoKyThuat>
    <hopTacQuocTe id="1244" key="3437590e-ef81-4ccb-a59b-cff5ad1dd88e" parentID="1059" level="2" creatorID="0" sortOrder="12" createDate="2018-04-06T09:45:00" updateDate="2018-04-06T09:45:00" nodeName="Hợp Tác Quốc Tế" urlName="hop-tac-quoc-te" path="-1,1059,1244" isDoc="" nodeType="1213" creatorName="DoDat" writerName="DoDat" writerID="0" template="1071" nodeTypeAlias="hopTacQuocTe" isPublished="true">
      <hTQTCacChuongTrinhHopTac id="1361" key="070a2b6b-154b-4518-a28f-a34ef32fc229" parentID="1244" level="3" creatorID="0" sortOrder="0" createDate="2018-04-20T01:40:24" updateDate="2018-04-20T01:40:24" nodeName="Các Chương Trình Hợp Tác" urlName="cac-chuong-trinh-hop-tac" path="-1,1059,1244,1361" isDoc="" nodeType="1337" creatorName="DoDat" writerName="DoDat" writerID="0" template="1187" nodeTypeAlias="hTQTCacChuongTrinhHopTac" isPublished="true" />
      <hTQTCacHoatDongHopTac id="1362" key="59177c8f-8675-407a-bde4-4c7f3a3ed592" parentID="1244" level="3" creatorID="0" sortOrder="1" createDate="2018-04-20T01:40:34" updateDate="2018-04-20T01:40:34" nodeName="Các Hoạt Động Hợp Tác" urlName="cac-hoat-dong-hop-tac" path="-1,1059,1244,1362" isDoc="" nodeType="1338" creatorName="DoDat" writerName="DoDat" writerID="0" template="1186" nodeTypeAlias="hTQTCacHoatDongHopTac" isPublished="true" />
      <hTQTGioiThieuChung id="1363" key="5f8ef2c6-7f01-4ca7-9b95-c63261fa72af" parentID="1244" level="3" creatorID="0" sortOrder="2" createDate="2018-04-20T01:40:44" updateDate="2018-04-20T01:40:44" nodeName="Giới Thiệu Chung" urlName="gioi-thieu-chung" path="-1,1059,1244,1363" isDoc="" nodeType="1339" creatorName="DoDat" writerName="DoDat" writerID="0" template="1185" nodeTypeAlias="hTQTGioiThieuChung" isPublished="true" />
      <hTQTLienKet id="1364" key="06e5212c-5245-40d0-8f6a-7a2ae75d7e61" parentID="1244" level="3" creatorID="0" sortOrder="3" createDate="2018-04-20T01:40:57" updateDate="2018-04-20T01:40:57" nodeName="Liên Kết" urlName="lien-ket" path="-1,1059,1244,1364" isDoc="" nodeType="1340" creatorName="DoDat" writerName="DoDat" writerID="0" template="1189" nodeTypeAlias="hTQTLienKet" isPublished="true" />
      <hTQTTieuChuanDoiTuongDTNN id="1365" key="e4e29d21-f7b1-42f3-a582-a3bb24d2adf7" parentID="1244" level="3" creatorID="0" sortOrder="4" createDate="2018-04-20T01:41:12" updateDate="2018-04-20T01:41:12" nodeName="Tiêu Chuẩn Đối Tượng ĐTNN" urlName="tieu-chuan-doi-tuong-dtnn" path="-1,1059,1244,1365" isDoc="" nodeType="1341" creatorName="DoDat" writerName="DoDat" writerID="0" template="1188" nodeTypeAlias="hTQTTieuChuanDoiTuongDTNN" isPublished="true" />
    </hopTacQuocTe>
    <thuVien id="1250" key="9f67777a-f6f4-4d07-89c4-ea8593f3957d" parentID="1059" level="2" creatorID="0" sortOrder="13" createDate="2018-04-06T09:46:49" updateDate="2018-04-06T09:46:49" nodeName="Thư Viện" urlName="thu-vien" path="-1,1059,1250" isDoc="" nodeType="1219" creatorName="DoDat" writerName="DoDat" writerID="0" template="1072" nodeTypeAlias="thuVien" isPublished="true" />
    <damBaoChatLuong id="1251" key="d8c29000-20af-4e2e-9dd1-01fd970cc7df" parentID="1059" level="2" creatorID="0" sortOrder="14" createDate="2018-04-06T09:47:14" updateDate="2018-04-06T09:47:14" nodeName="Đảm Bảo Chất Lượng" urlName="dam-bao-chat-luong" path="-1,1059,1251" isDoc="" nodeType="1220" creatorName="DoDat" writerName="DoDat" writerID="0" template="1191" nodeTypeAlias="damBaoChatLuong" isPublished="true">
      <dBCLHeThongDBCL id="1366" key="4aac90b7-c11e-4f2e-b5b4-1cf61829702f" parentID="1251" level="3" creatorID="0" sortOrder="0" createDate="2018-04-20T01:42:28" updateDate="2018-04-20T01:42:28" nodeName="Hệ Thống ĐBCL" urlName="he-thong-dbcl" path="-1,1059,1251,1366" isDoc="" nodeType="1321" creatorName="DoDat" writerName="DoDat" writerID="0" template="1194" nodeTypeAlias="dBCLHeThongDBCL" isPublished="true" />
      <dBCLKiemDinhChatLuong id="1367" key="48068e4f-3387-4dc5-a9f2-fee1d405b2b2" parentID="1251" level="3" creatorID="0" sortOrder="1" createDate="2018-04-20T01:42:42" updateDate="2018-04-20T01:42:42" nodeName="Kiểm Định Chất Lượng" urlName="kiem-dinh-chat-luong" path="-1,1059,1251,1367" isDoc="" nodeType="1322" creatorName="DoDat" writerName="DoDat" writerID="0" template="1193" nodeTypeAlias="dBCLKiemDinhChatLuong" isPublished="true" />
      <dBCLVanBanPhapQuy id="1368" key="1236b518-91c1-4120-8b1e-cad4d834d473" parentID="1251" level="3" creatorID="0" sortOrder="2" createDate="2018-04-20T01:42:51" updateDate="2018-04-20T01:42:51" nodeName="Văn Bản Pháp Quy" urlName="van-ban-phap-quy" path="-1,1059,1251,1368" isDoc="" nodeType="1323" creatorName="DoDat" writerName="DoDat" writerID="0" template="1192" nodeTypeAlias="dBCLVanBanPhapQuy" isPublished="true" />
      <dBCLYKienPhanHoi id="1369" key="5e0199f4-cc41-488e-9672-b0131a776ec9" parentID="1251" level="3" creatorID="0" sortOrder="3" createDate="2018-04-20T01:42:59" updateDate="2018-04-20T01:42:59" nodeName="Ý Kiến Phản Hồi" urlName="y-kien-phan-hoi" path="-1,1059,1251,1369" isDoc="" nodeType="1324" creatorName="DoDat" writerName="DoDat" writerID="0" template="1195" nodeTypeAlias="dBCLYKienPhanHoi" isPublished="true" />
    </damBaoChatLuong>
    <hocSinhSinhVien id="1256" key="f896fd6d-5e09-4bb9-8d7a-513bcdd083f1" parentID="1059" level="2" creatorID="0" sortOrder="15" createDate="2018-04-06T09:49:37" updateDate="2018-04-06T09:49:37" nodeName="Học Sinh Sinh Viên" urlName="hoc-sinh-sinh-vien" path="-1,1059,1256" isDoc="" nodeType="1225" creatorName="DoDat" writerName="DoDat" writerID="0" template="1196" nodeTypeAlias="hocSinhSinhVien" isPublished="true">
      <hSSVCacVanBanBieuMau id="1370" key="d61b2f94-60f6-49a3-8cc5-bcbbdc5169ef" parentID="1256" level="3" creatorID="0" sortOrder="0" createDate="2018-04-20T01:43:18" updateDate="2018-04-20T01:43:18" nodeName="Các Văn Bản Biểu Mẫu" urlName="cac-van-ban-bieu-mau" path="-1,1059,1256,1370" isDoc="" nodeType="1325" creatorName="DoDat" writerName="DoDat" writerID="0" template="1202" nodeTypeAlias="hSSVCacVanBanBieuMau" isPublished="true" />
      <hSSVGioiThieuChung id="1371" key="0d65823d-f11e-4fc9-ad56-6639cac63841" parentID="1256" level="3" creatorID="0" sortOrder="1" createDate="2018-04-20T01:43:26" updateDate="2018-04-20T01:43:26" nodeName="Giới Thiệu Chung" urlName="gioi-thieu-chung" path="-1,1059,1256,1371" isDoc="" nodeType="1326" creatorName="DoDat" writerName="DoDat" writerID="0" template="1197" nodeTypeAlias="hSSVGioiThieuChung" isPublished="true" />
      <hSSVHoatDongNCKH id="1372" key="7d7db4fe-f708-4216-900b-43b790007e00" parentID="1256" level="3" creatorID="0" sortOrder="2" createDate="2018-04-20T01:43:36" updateDate="2018-04-20T01:43:36" nodeName="Hoạt Động NCKH" urlName="hoat-dong-nckh" path="-1,1059,1256,1372" isDoc="" nodeType="1328" creatorName="DoDat" writerName="DoDat" writerID="0" template="1199" nodeTypeAlias="hSSVHoatDongNCKH" isPublished="true" />
      <hSSVHoatDongDoanThanhNien id="1373" key="24fd62a7-ed13-4419-bc6d-f74083ce8c53" parentID="1256" level="3" creatorID="0" sortOrder="3" createDate="2018-04-20T01:43:44" updateDate="2018-04-20T01:43:44" nodeName="Hoạt Động Đoàn Thanh Niên" urlName="hoat-dong-doan-thanh-nien" path="-1,1059,1256,1373" isDoc="" nodeType="1327" creatorName="DoDat" writerName="DoDat" writerID="0" template="1198" nodeTypeAlias="hSSVHoatDongDoanThanhNien" isPublished="true" />
      <hSSVHocBong id="1374" key="b08a5b15-7f7e-4428-8201-ce6c967918bc" parentID="1256" level="3" creatorID="0" sortOrder="4" createDate="2018-04-20T01:44:02" updateDate="2018-04-20T01:44:02" nodeName="Học Bổng" urlName="hoc-bong" path="-1,1059,1256,1374" isDoc="" nodeType="1329" creatorName="DoDat" writerName="DoDat" writerID="0" template="1200" nodeTypeAlias="hSSVHocBong" isPublished="true" />
      <hSSVKyTucXa id="1375" key="c25f9a48-0500-4165-a1a8-82073fa593b1" parentID="1256" level="3" creatorID="0" sortOrder="5" createDate="2018-04-20T01:44:13" updateDate="2018-04-20T01:44:13" nodeName="Ký Túc Xá" urlName="ky-tuc-xa" path="-1,1059,1256,1375" isDoc="" nodeType="1330" creatorName="DoDat" writerName="DoDat" writerID="0" template="1201" nodeTypeAlias="hSSVKyTucXa" isPublished="true" />
    </hocSinhSinhVien>
    <lienHe id="1265" key="adb23253-6338-4544-81a3-19b5eefcaa91" parentID="1059" level="2" creatorID="0" sortOrder="16" createDate="2018-04-06T09:56:29" updateDate="2018-04-06T09:56:29" nodeName="Liên Hệ" urlName="lien-he" path="-1,1059,1265" isDoc="" nodeType="1231" creatorName="DoDat" writerName="DoDat" writerID="0" template="1073" nodeTypeAlias="lienHe" isPublished="true" />
    <tinTuc id="1391" key="4324ac8f-a81b-4448-a34b-29453e5c78af" parentID="1059" level="2" creatorID="0" sortOrder="17" createDate="2018-04-20T02:11:50" updateDate="2018-04-20T02:12:39" nodeName="Tin Tức" urlName="tin-tuc" path="-1,1059,1391" isDoc="" nodeType="1060" creatorName="DoDat" writerName="DoDat" writerID="0" template="1266" nodeTypeAlias="tinTuc" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
      <chiTietTinTuc id="1392" key="581b139d-ff6d-4e2f-be62-ad5bd90ce672" parentID="1391" level="3" creatorID="0" sortOrder="0" createDate="2018-04-20T02:12:12" updateDate="2018-04-20T02:12:12" nodeName="Tin Hoạt Động" urlName="tin-hoat-dong" path="-1,1059,1391,1392" isDoc="" nodeType="1063" creatorName="DoDat" writerName="DoDat" writerID="0" template="0" nodeTypeAlias="chiTietTinTuc" isPublished="true">
        <tinTucItem id="1393" key="62d40d86-b8d4-439b-a175-3e7acfb9352d" parentID="1392" level="4" creatorID="0" sortOrder="0" createDate="2018-04-20T02:12:34" updateDate="2018-04-20T02:12:34" nodeName="abc" urlName="abc" path="-1,1059,1391,1392,1393" isDoc="" nodeType="1270" creatorName="DoDat" writerName="DoDat" writerID="0" template="1277" nodeTypeAlias="tinTucItem" isPublished="true">
          <hinhAnh><![CDATA[umb://media/7941816871bb4c09ae8418c6d073056a]]></hinhAnh>
          <noiDung><![CDATA[<p>à</p>]]></noiDung>
          <tieuDe><![CDATA[s]]></tieuDe>
        </tinTucItem>
        <tinTucItem id="1410" key="8f568de4-684e-43ae-ba30-203d9f08fe44" parentID="1392" level="4" creatorID="0" sortOrder="1" createDate="2018-04-20T07:30:53" updateDate="2018-04-20T07:31:36" nodeName="Lễ đóng, mở thầu gói thầu 17 thuộc dự án Đầu tư xây dựng Nhà ở học viên S9" urlName="le-dong-mo-thau-goi-thau-17-thuoc-du-an-dau-tu-xay-dung-nha-o-hoc-vien-s9" path="-1,1059,1391,1392,1410" isDoc="" nodeType="1270" creatorName="DoDat" writerName="DoDat" writerID="0" template="1277" nodeTypeAlias="tinTucItem" isPublished="true">
          <tacGia><![CDATA[Đỗ Đạt]]></tacGia>
          <hinhAnh><![CDATA[umb://media/250635bf2c054c27ba1a5f10addc8f0a]]></hinhAnh>
          <noiDung><![CDATA[<p>Theo kế hoạch lựa chọn nhà thầu thuộc dự án Đầu tư xây dựng Nhà ở học viên S9 đã được phê duyệt, vừa qua, Ban Quản lý dự án đã tổ chức Lễ đóng, mở thầu gói thầu 17: Cung cấp, lắp đặt hệ thống thang máy theo hình thức đấu thầu rộng rãi trong nước. Đến tham dự Lễ mở thầu có đại diện Chủ đầu tư, Tư vấn đấu thầu, đại diện các nhà thầu nộp hồ sơ dự thầu.</p>
<p>   Đại diện Chủ đầu tư, Đại tá Nguyễn Ngọc Khôi – Trưởng ban Quản lý dự án công bố các quyết định và tuyên bố mở thầu. Đại diện đơn vị Tư vấn đấu thầu đã thực hiện các thủ tục mở thầu theo đúng quy định của luật đấu thầu, đại diện các bên tham dự Lễ mở thầu đã ký vào biên bản mở thầu.</p>
<p><img src="http://www.mta.edu.vn/Portals/0/xNews/uploads/2018/4/20/p11goithau17.jpg" alt="p11goithau17" /></p>
<p>   Lễ mở thầu kết thúc tốt đẹp. Hoạt động đấu thầu là hoạt động thường xuyên của Học viện và Ban Quản lý dự án, nhằm lựa chọn những nhà thầu có đủ năng lực, kinh nghiệm tham gia dự án, góp phần nâng cao chất lượng, hiệu quả trong công tác đầu tư xây dựng cơ bản.</p>]]></noiDung>
          <tieuDe><![CDATA[Lễ đóng, mở thầu gói thầu 17 thuộc dự án Đầu tư xây dựng Nhà ở học viên S9]]></tieuDe>
        </tinTucItem>
      </chiTietTinTuc>
      <chiTietTinTuc id="1405" key="cf04c294-8eb3-4a5b-9c4d-c6b2d522db6a" parentID="1391" level="3" creatorID="0" sortOrder="1" createDate="2018-04-20T07:09:27" updateDate="2018-04-20T07:09:27" nodeName="Đào Tạo" urlName="dao-tao" path="-1,1059,1391,1405" isDoc="" nodeType="1063" creatorName="DoDat" writerName="DoDat" writerID="0" template="0" nodeTypeAlias="chiTietTinTuc" isPublished="true" />
      <chiTietTinTuc id="1406" key="b553783a-29ea-4e05-b43f-b2ccee376a9d" parentID="1391" level="3" creatorID="0" sortOrder="2" createDate="2018-04-20T07:09:40" updateDate="2018-04-20T07:09:40" nodeName="Nghiên Cứu Khoa Học" urlName="nghien-cuu-khoa-hoc" path="-1,1059,1391,1406" isDoc="" nodeType="1063" creatorName="DoDat" writerName="DoDat" writerID="0" template="0" nodeTypeAlias="chiTietTinTuc" isPublished="true" />
      <chiTietTinTuc id="1407" key="6c390fe6-4ad5-4e5c-ab4e-0d4e0ae58586" parentID="1391" level="3" creatorID="0" sortOrder="3" createDate="2018-04-20T07:09:56" updateDate="2018-04-20T07:09:56" nodeName="Hợp Tác Quốc Tế" urlName="hop-tac-quoc-te" path="-1,1059,1391,1407" isDoc="" nodeType="1063" creatorName="DoDat" writerName="DoDat" writerID="0" template="0" nodeTypeAlias="chiTietTinTuc" isPublished="true" />
      <chiTietTinTuc id="1408" key="d1260ca1-4f29-4213-8a9e-b324d525c374" parentID="1391" level="3" creatorID="0" sortOrder="4" createDate="2018-04-20T07:10:08" updateDate="2018-04-20T07:10:08" nodeName="Hoạt Động Sinh Viên" urlName="hoat-dong-sinh-vien" path="-1,1059,1391,1408" isDoc="" nodeType="1063" creatorName="DoDat" writerName="DoDat" writerID="0" template="0" nodeTypeAlias="chiTietTinTuc" isPublished="true" />
      <chiTietTinTuc id="1409" key="a9225806-9717-4bcc-a052-6f477f7c38f4" parentID="1391" level="3" creatorID="0" sortOrder="5" createDate="2018-04-20T07:10:18" updateDate="2018-04-20T07:10:18" nodeName="Tin Tuyển Sinh" urlName="tin-tuyen-sinh" path="-1,1059,1391,1409" isDoc="" nodeType="1063" creatorName="DoDat" writerName="DoDat" writerID="0" template="0" nodeTypeAlias="chiTietTinTuc" isPublished="true" />
    </tinTuc>
  </trangChu>
</root>