@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}


@{ 
    var currentNode = UmbracoContext.Current.PublishedContentRequest.PublishedContent;
    var child = currentNode.Children;
}
<div>Ban Giám Đốc</div>

<ul>
    @foreach(var item in child)
    {
        <li>
            <div>
                <div>
                    @(item.GetPropertyValue<string>("hoTen"))
                </div>
                
                    @{
                        var image = Umbraco.TypedMedia(item.GetPropertyValue<string>("anh"));
                        var url = String.Empty;
                        if (image != null)
                        {
                            url = image.Url;
                        }
                        <div>
                            <img src="@url" width="100px" height="100px"/>
                        </div>
                    }
                
            </div>
        </li>
    }
</ul>