@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<!DOCTYPE HTML>
<html>
<head>
    <title>University a Educational Category Flat Bootstarp Responsive Website Template | Home :: w3layouts</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link href="/Assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script src="/Assets/js/bootstrap.js"></script>
    <!-- Custom Theme files -->
    <link href="/Assets/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="University Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="/Assets/js/jquery.min.js"></script>
    <script src="/Assets/js/bootstrap.js"></script>

</head>
<body>
    <div class="banner">
        <div class="header">
            <div class="logo">
                <a href="index.html"><img src="images/logo.jpg" alt="" /></a>
            </div>
            <div class="top-menu">
                <span class="menu"></span>
    
                @{
                    var parentNode = Umbraco.TypedContent(1059).Children();
                }
                    
                    @Html.Partial("NavigateHome")
            </div>
            <!-- script-for-menu -->
            <script>
				$("span.menu").click(function(){
					$("ul.navig").slideToggle("slow" , function(){
					});
				});
            </script>
            <!-- script-for-menu -->
    
            <div class="clearfix"></div>
            @Html.Partial("BreadCrumb")
            <div class="clearfix"></div>
           
        </div>

    </div>
    <!---->
    <div class="clearfix"></div>
    @RenderBody()
    <div class="clearfix"></div>
    <div class="footer">

    </div>
    <!---->
    <div class="copywrite">
        <div class="container">
            <p>Copyright © 2015 University. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!---->
</body>

</html>