@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<script src="/Assets/js/responsiveslides.min.js"></script>
<script>

    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
        });
    });
</script>
@Html.Partial("EditProfile")



<!-- Slide -->
<div class="row my-4">
    <div class="col-lg-8">
        <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <h1>Business Name or Tagline</h1>
        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
    </div>
    <!-- /.col-md-4 -->
</div>
<!-- /.row -->


<div class="clearfix"></div>
<div class="news">
    <div class="container">
        <h3>Tin Hoạt Động</h3>
        @*@{
                var selection = Model.Content.Site().FirstChild("tinTuc").FirstChild("chiTietTinTuc").Children("tinTucItem")
                                    .Where(x => x.IsVisible());
            }
            <ul>
                @foreach(var item in selection){
                    <div class="col-md-4 event-grid">
                         @{
                                    var image = Umbraco.TypedMedia(item.GetPropertyValue<string>("hinhAnh"));
                                    var url = String.Empty;
                                    if (image != null)
                                    {
                                        url = image.Url;
                                    }
                                    <div style="width:72%;">
                                        <img src="@url" width="100%" height="100px"/>
                                    </div>
                        }
                        <div class="clearfix"></div>
                        <a href="@item.Url">@item.Name</a>
                        <div class="clearfix"></div>
                    </div>
                }

            </ul>    *@
    </div>
</div>
<!---->
