@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div>Gioi thieu</div>
@{
    var parentNode = Umbraco.TypedContent(1075).Children();
}
<div class="left-menu">
    <ul>
        @foreach (var item in parentNode)
        {
            <li>
                <a href="@item.Url">@item.Name</a>
            </li>}
    </ul>
</div>




